:root {
  --green: #0b7c21;
  --light-green: #9DC183;
  --light-gray: #e7e4e4;
  --background: white;
  --primary: black;
  --h3: var(--green);
  --font-color: black;
  --striped: repeating-linear-gradient(-45deg, var(--light-gray),var(--light-gray) 2px, white 2px, white 10px);
  --padding-top: 75px;
  --size-body: calc(100vh - 255px);
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

@font-face {
  font-family: 'Volkhov';
  src: url('/fonts/Volkhov-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Volkhov';
  src: url('/fonts/Volkhov-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('/fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'NotoSerif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Volkhov', sans-serif;
  font-weight: normal;
  /* letter-spacing: .04em; */
}

h1, h2 {
  color: var(--primary);
}

h3 {
  color: var(--h3);
}

p {
  color: var(--font-color);  
}


span {
  display: block;
}

/* adjust based on the height of the header */
.headroom-wrapper + * {
  padding-top: var(--padding-top);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}