:root {
  /* --green: #0b7c21; */
  --green: #4E7839;
  --light-green: #9DC183;
  --light-peach: #fae9d8;
  /* --dark-green: #06402B; */
  --dark-green: #334F26;
  --light-gray: #c5cbc2;
  --gray: #d1d1d1; 
  --yellow: #FFFDD0;
  --background: white;
  --font-color-1: var(--green);
  --font-color-2: black;
  /* --striped: repeating-linear-gradient(-45deg, var(--light-gray),var(--light-gray) 2px, white 2px, white 10px); */
  --striped: repeating-linear-gradient(-45deg, white, white 3px, var(--light-peach) 3px, var(--light-peach) 6px);
  --padding-top: 75px;
  --height-header: clamp(1rem, 10vw, 5rem);
  --size-body: calc(100vh - var(--height-header) - 4px);
  /* --size-body: 100vh; */
  --default-font-size: clamp(0.8rem, 1.7vw, .9rem);
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: 'Cascadia';
  src: url('/fonts/Cascadia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Volkhov';
  src: url('/fonts/Volkhov-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Volkhov';
  src: url('/fonts/Volkhov-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('/fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'NotoSerif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Volkhov', sans-serif;
  font-weight: normal;
}

h1, h3 {
  color: var(--font-color-1);
}

h1 {
  font-size: clamp(1.1rem, 3.5vw, 2rem);
}

h2 {
  color: black;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

h3 {
  font-size: clamp(.9rem, 2vw, 1.25rem);
}

p {
  color: var(--font-color-2);  
}

p, label, i, li, a {
  font-size: var(--default-font-size)
}

span {
  display: block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes pauseShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pop {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1);
      color: var(--green);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}